# baza
numpy>=1.24
scipy>=1.10
soundfile>=0.12
matplotlib>=3.7
seaborn>=0.12.0  # grafice
librosa>=0.10.0  # audio

# model
torch>=2.0
torchcodec>=0.7

# metrici optionale
pystoi>=0.3.3
pesq>=0.0.4

# training
tqdm>=4.65.0
tensorboard>=2.12.0

# CLI/logging
colorama>=0.4.6  # consola colorata
pandas>=1.5.0    # CSV
torchaudio>=2.0  # audio I/O
sounddevice>=0.4.6  # realtime audio
